@media screen {
    body {
        margin: 0;
        background-color: #000000;
    }
    
    #banner {
        height: 50vh;
        border: 1px solid black;
    }
}

@media print {     
    #banner {
        display: none;
    }
}

.heading{
    background-image: url('banner.jpg');
    color: white;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-size: 5vh;
    text-align: center;
}

.menu{
    height: 25px;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#menu{
    height: 25vh;
    display: flex;
    justify-content:space-between;
}

#question{
    background: #000000;
    color: white;
    width: auto;
    padding: 10px;
    margin: auto;
    align: center;
    
}

